@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(255, 182, 93);
  background-image: linear-gradient(
    180deg,
    rgba(255, 182, 93, 1) 0%,
    rgba(255, 88, 0, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}
.AstroItems {
  height: 90px;
  width: 115px;
}
.AstroIcons{
  margin: auto;
}
@media only screen and (max-width: 450px) and (min-width: 320px) {
  #navitems {
    font-size: 2.7vw;
    
  }

  .AstroItems{
    font-size: 4vw;
  }
 


}